.front-container-fall {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(30deg);
    }
    60% {
        top: 10px;
    }
    70% {
        top: 80px;
    }
    80% {
        top: 150px;
    }
    90% {
        top: 400px;
    }
    100% {
        position: relative;
        top: 1000px;
        background: white;
        z-index: 100;
    }
}
